@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;       /* slate-800 */
  --background-start-rgb: 248, 250, 252; /* surface */
  --background-end-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance { text-wrap: balance; }

  /* Aplica Poppins a cualquier elemento con font-heading */
  .font-heading {
    font-family: var(--font-poppins), ui-sans-serif, system-ui;
  }
}
